<!doctype html>
{% load static %}
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Newsletter Bioinfo" />
  <title>Simple MOOC</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/mini.css/3.0.1/mini-default.min.css">
  <link rel=stylesheet href="https://s3-us-west-2.amazonaws.com/colors-css/2.2.0/colors.min.css">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
</head>
<body>
  <div class="container">

    <div id="layout", class="row">
      <div id="nav-container" class="col-md-4 col-lg-3" >
          <nav>
          <div class="">
            <a class="" href="{% url 'index' %}">Página inicial</a>
              <div class="input-group vertical">
              <button class="" href="{% url 'index' %}">Cadastrar Oportunidade</button>
              <button class="" href="{% url 'index' %}">Cadastrar Evento</button>
              </div>
          </div>
          </nav>

      </div>

      <div class="col-md-8 col-lg-9 stretch">
        <div class="row content-top"></div>
        <main>
          {% block content %}{% endblock %}
        </main>
      </div>
    </div>
    <footer class="bg-navy blue" >
      Newsletter Bionfo - 2019
    </footer>
  </div>

</body>
</html>
